@import "~@/lib/reset.scss";
@import '../../iconfont/iconfont.css';
.router-link-active{
    @include text-color(#f66);
}

.content{
    padding:20px 20px;
    .wrap{
        @include rect(100%,100%);
        ul{ 
            @include rect(100%,100%);
            @include flexbox();
            @include justify-content(space-between);
            flex-wrap: wrap;
            li{
                @include rect(1rem,1.2rem);
                position:relative;
                .xbox{
                    @include rect(1rem,1.2rem);
                    @include flexbox();
                    @include flex-direction(column);
                    @include justify-content();
                    @include align-items();
                    img{
                        @include rect(1rem,auto);
                    }
                    .name{
                        position:absolute;
                        bottom:-0.2rem;
                        left:0;
                        @include rect(1rem,0.3rem);
                        @include text-align();
                        @include line-height(0.3rem);
                    }
                }
                .mengban{
                    @include rect(1rem,1.35rem);
                    //background:rgba(0,0,0,.2);
                    position:absolute;
                    left:0;
                    top:0;
                    border-radius:6px;
                    .guanzhuBtn{
                        @include rect(0.6rem,0.35rem);
                        margin-left:0.2rem;
                        margin-top:0.5rem;
                        background:rgb(255,0,0);
                        @include text-color(#fff);
                        @include text-align();
                        @include line-height(0.35rem);
                        border-radius:6px;
                    }
                    .activeClass{
                        background:rgb(0,0,255);
                    }
                }
//              .activeClass{
//                  background:rgba(0,0,0,.2);
//              }
            }
        }
    }
    
}
