@import "~@/lib/reset.scss";
@import '../../iconfont/iconfont.css';
.router-link-active{
    @include text-color(#f66);
}

.content{
    padding:50px 15px;
    .registerBtn{
        margin-top: 20px;
        margin-bottom:10px;
    }
    span{
        display:block;
        width:16px;
        height:16px;
        border:1px solid #cecece;
        line-height:16px;
        text-align:center;
        border-radius: 50%;
        color:#cecece;
        position:absolute;
        right:20px;
        top:20px;
    }
    .psw{
        //  border-bottom:1px solid #cececc;
        }
    b{
        margin-top:20px;
        font-weight:100;
        color:#00B7FF;
        text-decoration: underline;
        
    }
}
    

