@import '~@/lib/reset.scss';

//.router-link-active{
//  @include background-color(#cecece);
//  @include text-color(#f66);
//}

.news{
    padding:10px;
    .newsList{
        li{
            @include rect(100%,1.8rem);
            padding:10px 0;
            @include border(0 0 1px 0,#cecece);
            .cnt_top{
                margin-bottom:5px;
                @include rect(100%,0.5rem);
            }
            .cnt_middle{
                @include rect(100%,0.8rem);
                @include flexbox();
                @include justify-content(space-between);
                margin-bottom:10px;
                img{
                    @include rect(1.16rem,0.77rem);
                }
            }
            .cnt_bottom{
                font-size:10px;
                @include text-color(#cecece);
            }
        }
    }
}
